<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Webmail</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="style.css"/>

</head>
<!-- liaison application à la VUE par directive ng-app 
-->
<body ng-app="Webmail" ng-controller="WebmailCtrl"> 

	<div class="container">
		
		<!-- boites aux lettres -->
		<ul class="nav nav-pills spacer">

			<!-- ng-repeat directive (for) -->
			<li ng-repeat="dossier in dossiers"
				ng-class="{ active: dossier == dossierCourant }"><a 
				ng-click="selectDossier(dossier)" href="#{{dossier.value}}">{{dossier.label}} ({{dossierCourant.emails.length}})</a></li>
		</ul>
		<!-- /boites aux lettres -->

		<!-- tableau mails  -->
		<div ng-show="dossierCourant != null &amp;&amp; emailSelected == null">

			<table class="table table-striped table-hover spacer">

				<!-- entete liste mails  -->
				<thead>
					<tr>
						<th>De</th>
						<th>&Agrave;</th>
						<th>Objet</th>
						<th>Date</th>
					</tr>
				</thead>
				<!-- entete liste mails  -->

				<!-- liste mail -->
				<tbody>
					<tr ng-repeat="email in dossierCourant.emails" class="clickable"
						ng-click="selectEmail(email)">

						<td>{{email.from}}</td>
						<td>{{email.to}}</td>
						<td>{{email.subject}}</td>
						<td>{{email.date}}</td>

					</tr>
				</tbody>
				<!-- /liste mail -->

			</table>

		</div>
		<!-- /tableau mails -->


		<!-- mail séléctionné -->
		<div ng-show="emailSelected != null" class="spacer">
			<div class="well">
				<p><b>{{emailSelected.subject}}</b></p>
				<p><label>De:</label> <span>{{emailSelected.from}}</span></p>
				<p><label>&Agrave;:</label> <span>{{emailSelected.to}}</span></p>
				<p><label>Date:</label> <span>{{emailSelected.date}}</span></p>
			</div>

			<!-- contenu mail -->
			<p ng-bind-html="emailSelected.content"></p>
			<!-- /contenu mail -->

		</div>
		<!-- /mail séléctionné -->	


	</div>

	<!-- library angular js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.6/angular-sanitize.min.js"></script>
	<!-- /library angular js -->

	<!-- app.js -->
    <script type="text/javascript" src="app.js"></script>
	<!-- /app.js -->

	
</body>
</html>